html{
    font-size:1rem;
    box-sizing:border-box;
    height:100%;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

:root {
    --body-bg:hsl(226, 43%, 10%);
    --activity-bg:hsl(235, 46%, 20%);
    --user-info-bg:hsl(235, 46%, 20%);;
    --work-bg:hsl(15, 100%, 70%);
    --selfCare-bg:hsl(43, 84%, 65%);
    --study-bg:hsl(348, 100%, 68%);
    --exercise-bg:hsl(145, 58%, 55%);
    --social-bg:hsl(264, 64%, 52%);
    --play-bg:hsl(195, 74%, 62%);
    --user-bg:hsl(246, 80%, 60%);
    --period-font-color:hsl(235, 45%, 61%);
    --font-color:hsl(236, 100%, 87%);
}


@mixin flex($just, $align, $dir:row) {
    display:flex;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
}


body {
    height:100%;
    font:400 100%/160% 'Rubik',sans-serif;
    background-color:var(--body-bg);
    @include flex(flex-start, center, column);
    padding:1rem;
}


// Time Tracker Dashboard Container
.time--tracker--dashboard {
    display:grid;
    grid-template-columns:1fr;
    grid-gap:1rem;

    div {
        border-radius:13px;
    }
}

.user__info__container {
    background-color:var(--user-info-bg);
}


.about__user__section {
   @include flex(center,center);
    background-color:var(--user-bg);
    padding:1.5rem;

    div {
        margin-left:1rem;
        color:var(--font-color);
    }

    img {
        height:3.2rem;
        border:3px solid var(--font-color);
        border-radius:50%;
    }

    p  {
        font-size:.75rem;
        line-height:1.5;
    }

    h1 {
        font-weight:300;
        font-size:1.4rem;
    }
}


// Time Period btns container
.time__period {
    &__btns__container {
        padding:1.2rem;
        @include flex(space-around, center);
    }

    &__btn {
        background-color:transparent;
        font-family:inherit;
        border:none;
        color:var(--period-font-color);
        font-size:.85rem;
        display:inline-block;

        &:hover,
        &:focus {
            color:var(--font-color);
            cursor:pointer;
        }
    }
}


// User activity related containers
.activity__container {
    &__one {
        background-image:url('../images/icon-work.svg'), linear-gradient(var(--work-bg), var(--work-bg));
    }
    &__two {
        background-image:url('../images/icon-play.svg'), linear-gradient(var(--play-bg), var(--play-bg));
    }
    &__three {
        background-image:url('../images/icon-study.svg'), linear-gradient(var(--study-bg), var(--study-bg)); 
    }
    &__four {
        background-image:url('../images/icon-exercise.svg'), linear-gradient(var(--exercise-bg), var(--exercise-bg));
    }
    &__five {
        background-image:url('../images/icon-social.svg'), linear-gradient(var(--social-bg), var(--social-bg));
    }
    &__six {
        background-image:url('../images/icon-self-care.svg'), linear-gradient(var(--selfCare-bg), var(--selfCare-bg));
    }
}


.user__activity__container {
    padding-top:1.5rem;
    background-repeat:no-repeat,no-repeat;
    background-size:4rem, cover;
    background-position:90% -10px,center;

    > div {
        padding:1.2rem;
        background-color:var(--activity-bg);
        border-radius:11px;
    }
}

.activity {
    &__name__wrapper {
        @include flex(space-between, center);
        color:var(--font-color);
        margin-bottom:.5rem;
    }
    &__time__wrapper {
        @include flex(space-between, center);
        color:var(--font-color);

        h2 {
            font-weight:300;
            font-size:1.6rem;
        }

        p {
            font-size:.75rem;
            font-weight:300;
        }
    }
    &__name {
        font-weight:500;
        font-size:.8rem;
    }
    &__btn {
        background-color:transparent;
        border:none;
        
        img {
            display:inline-block;
            width:.9rem;
        }
    }
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }






//Media Queries   
@media screen and (max-width:480px) {
    html {
        font-size:.85rem;
    }
}

@media screen and (min-width:481px) and (max-width:760px) {
    html {
        font-size:.9rem;
    }
}

@media screen and (min-width:761px) {
    html {
        font-size:1rem
    }
    body {
        justify-content:center;
        padding:0;
    }
    .time--tracker--dashboard {
        grid-template-columns:repeat(4, 10rem);
        grid-template-areas:'user work play study' 'user exercise social selfCare'
    }
    .user__info__container {
        grid-area:user;
    }
    .about__user__section,
    .activity__time__wrapper,
    .time__period__btns__container {
        flex-direction:column;
        align-items:flex-start;
    }
    .about__user__section div {
        margin-left:0;
        margin-top:1rem;
    }
    .time__period__btn {
        padding:.3rem 0;
    }
}

@media screen and (min-width:1281px) {
    html {
        font-size:1.1rem;
    }
}